.cont {
    display: flex;
    gap: 5px;

    counter-reset: sum;
}

.item {
    position: relative;
    border: 1px solid #000;
}

.item-label {
    position: relative;
    display: inline-flex;

    padding: 25px;

    cursor: pointer;
}

.item input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: 12;

    width: 100%;
    height: 100%;
}

.item input[type="checkbox"]:checked+.item-label {
    background: gold;
}

#checkbox-1:checked+.item-label {
    counter-increment: sum 10;
}

#checkbox-2:checked+.item-label {
    counter-increment: sum 32;
}

#checkbox-3:checked+.item-label {
    counter-increment: sum 64;
}

#checkbox-4:checked+.item-label {
    counter-increment: sum -15;
}

.sum {
    padding-top: 10px;
}

.sum::after {
    content: counter(sum);
}