
.cont {
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas: "a a a" " b b e" "c d e";
}

.cont>div {
    border: 2px solid black;

    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    font-weight: 500;

    font-size: 48px;
}

.a {
    grid-area: a;

    margin-bottom: 10px;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;

    margin-left: 5px;
}

@media (max-width: 768px) {
    .cont {
        display: grid;

        grid-template-areas: "a a" "b b" "c d" "e e";
    }
    
}